* {
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
	font-family: roboto, sans-serif;
	/* background-color: #bada55; */
}
h1 {
	padding: 0;
	margin: 0;
}
header {
	display: flex;
	padding: 20px;
	align-items: center;
	background-color: rgb(13, 125, 190);
	color: white;
	height: 100px;
	width: 100%;
}
p {
	color: grey;
}
.cards {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.card {
	border-radius: 10px;
	width: 200px;
	margin: 20px;
	display: flex;
	flex-direction: column;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card:hover {
	transform: scale(1.05);
	box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}
.card-img {
	border-radius: 10px 10px 0 0;
	background-size: cover;
	background-position: center;
	background-image: url("http://placekitten.com/200/300");
	height: 200px;
	width: 100%;
}
.card-body {
	padding: 10px 20px;
}
.card-body h2 {
	margin: 10px 0px;
}
.card-button {
	color: white;
	border: none;
	border-radius: 10px;
	height: 50px;
	background-color: lightblue;
	width: 100%;
	cursor: pointer;
}
.card-button:hover {
	background-color: rgb(71, 152, 179);
}
.filters {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
